<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col d-flex justify-content-center text-left">
      <%= form_with(model: @ranking, local: true) do |ranking| %>
      <div class="h2">
        タイトル<span class="text-muted h6 mb-0">(2文字以上30字以内)</span><br>
        <%= ranking.text_field :title,size:"40", maxlength: "30" ,class:"h2"%>ランキング
      </div>
      <div>
        <div class="h5">説明<span class="text-muted mb-0 h6">(500字以内)</span></div>
        <%= ranking.text_area :introduction,size: "100x5", maxlength: "500" %>
      </div>
      <div class="mb-5 mt-3">
        <div class="h5">タグ<span class="text-muted mb-0 h6">(半角のカンマで区切れば複数個登録できます。100字以内)</span></div>
        <%= ranking.text_field :tag_list,size: "100", maxlength: "100", value: @ranking.tag_list.join(',') %>
      </div>
      <div class=" d-flex mb-3 mt-4 align-items-end"><p class="mb-0 h4">アイテム</p><p class="text-muted h6 mb-1">(最低1つはアイテムを入れてください)</p></div>
      <table class="table table-borderless mb-0">
        <tr>
          <th style="width:43%;">画像</th>
          <th>名前<span class="text-muted">(30字以内)</span></th>
          <th>説明<span class="text-muted">(100字以内)</span></th>
          <th></th>
        </tr>
      </table>
      <div class="parents">
        <%= ranking.fields_for :items do |item| %>
          <%= render "item_fields", f: item %>　<!-- レンダーでItem用のフォーム呼び出し-->
        <% end %>
        <div class="links text-center">
          <%= link_to_add_association "",ranking, :items,class:"fas fa-plus btn btn-secondary mb-5 " %> <!--このリンクを押すとItemのフォームが増える-->
        </div>
      </div>
        <div style="height:50px;">
          <%= ranking.submit "ランキング作成", class:"btn btn-success w-100 h-100"%>
        </div>
      <% end %>
    </div>
    <div class="col d-flex align-items-stretch">
      
    </div>
  </div>
  
</div>

