<div class="container">
  <div class="row h2"><%= @user.name %>のマイページ</div>
  <div class="row">
    <table class="table">
      <tr>
        <td>いいねしたランキング</td>
      </tr>
      <% @your_favorites.each do |f| %>
      <tr>
        <td><!-- いいねが入ってるランキング全部出ちゃう。ifで条件書かないと-->
          <%= link_to ranking_path(f.ranking_id) do %>
            <%= f.ranking.title %>
          <% end %>
        </td>
        <td>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">click me</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">内容
                  <% f.ranking.items.each do |item| %>
                    <% item.favorites.each do |favorite| %>
                      <% if favorite.user_id == current_user.id %>
                        <%= attachment_image_tag(item, :image, :fill, 50,50, fallback: "no_image.jpg",size:"50x50") %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
    <% if @user.provider.blank? %>
    <%= link_to "ユーザー編集", edit_user_path(current_user) %>
    <% end %>
  </div>
</div>