<div class="container">
  <div class="row mb-5 mt-5 ml-1">
    <div class="col-sm-2"><h2><%= @item.name %></h2></div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag attachment_url(@item, :image, :fill, 150, 150, format: "jpg") %>
    </div>
    <div class="col-sm-8"><%= @item.body%></div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-8 mx-auto">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>コメント</th>
              <th class="text-center">日付</th>
            </tr>
          </thead>
          <% @item.comments.each do |comment| %>
          <tr>
            <td style="height:100px; width:50%"><%= comment.comment %></td>
            <td class="text-center" style="width:25%"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <% if comment.user == current_user %>
              <%= form_with(model:[@item, @comment], local: true) do |f| %>
                <td style="width:25%"><%= link_to "削除",item_comment_path(comment.item,comment), method: :delete, class:"btn btn-danger btn-sm"%></td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
        </table>
        <div>
          <%= form_with(model:[@item, @comment], local: true) do |f| %>
            <%= f.text_area :comment, class: 'form-control'%>
            <div class="text-center"><%= f.submit " S ", class:"btn btn-success rounded-circle text-success"%></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
