<!DOCTYPE html>
<html>
  <head>
    <title>RankingPf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">創作ランキング</span>
    <ul>
      <% if user_signed_in? %>
        <a class="btn btn-lg btn-secondary" href="/rankings" role="button">一覧</a>
        <a class="btn btn-lg btn-secondary" href="/rankings/new" role="button">ランキングを作る!</a>
        <a class="btn btn-lg btn-secondary" href="/users/sign_out" role="button">ログアウト</a>
      <% else %>
        <a class="btn btn-secondary" href="/users/sign_up" role="button">アカウント作成(google認証まだ)</a>
        <a class="btn btn-secondary" href="/users/sign_in" role="button">ログイン</a>
      <% end %>
    </ul>
  </nav>



  <body>
    <%= yield %>
  </body>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0">footer</span>
  </nav>

</html>
